<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Countries States Cities</title>
  </head>
  <body>

    <h1>People</h1>
    <div class="row">
      <%= link_to "People", people_path %>
    </div>

    <h1>Countries States Cities</h1>
    <div class="row">
      <%= link_to "Countries", countries_path %>
    </div>

    <div class="row">
      <%= link_to "States", states_path %>
    </div>

    <div class="row">
      <%= link_to "Cities", cities_path %>
    </div>

  </body>
</html>
